.uslCategoryRoot {
    display: flex;
    flex-direction: column;
    width: 100%;

    .medDevTableContainer,
    .uslTableContainer {

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;

            thead {
                th {

                    background-color: var(--card-background-color);
                    font-weight: 500;
                }
            }

            tbody {

                tr {
                    cursor: pointer;
                }

                tr:hover {
                    background-color: var(--gray-50);
                    transition: 0.2s ease;
                }

                .activeRow {
                    background-color: var(--gray-100);
                }

                .emptyDataRow:hover {
                    background-color: var(--gray-50) !important;
                    cursor: default !important;
                }

            }

            .tdCenter,
            .thCenter {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            .emptyDataRow {
                text-align: center;
                background-color: var(--gray-50);

                span {
                    font-size: var(--font-size-small-default);
                    color: var(--gray-500);
                }
            }
        }
    }

    .uslTableContainer {
        border-bottom: 1px solid var(--default-element-border-color);
    }
}