:root {

  //Default colors
  --black: #242424;
  --white: #ffffff;

  //Grey's shades
  --gray-50: #f8f8f8;
  --gray-100: #f3f4f6;
  --gray-150: #f0f0f0;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-750: #303641;
  --gray-800: #1f2937;
  --gray-900: #111827;

  //Status colors
  --fatal: var(--black);
  --fatal-bg: #2424242d;

  --error: #ef4444;
  --error-bg: #ef44442d;
  
  --success: #0cb47c;
  --success-bg: #10b9812d;

  --pending: #8b5cf6;
  --pending-bg: #8b5cf62d;

  --processing: #3b82f6;
  --processing-bg: #3b82f62d;
  --rewrite: #f97316;
  --warning: #f59e0b;
}