.react-datepicker {
    background: var(--card-background-color) !important;
    border: 1px solid var(--default-element-border-color) !important;
    border-radius: var(--rounding-m) !important;
    box-shadow: var(--shadow-md) !important;
}

.react-datepicker__header {
    background: var(--default-element-background-color) !important;
    border-bottom: 1px solid var(--default-element-border-color) !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
    color: var(--text-primary) !important;
}

.react-datepicker__day:hover {
    background: var(--button-secondary-background-hover-color) !important;
}

.react-datepicker__day--selected {
    background: var(--button-primary-background-color) !important;
    color: white !important;
}

.react-datepicker__day--keyboard-selected {
    background: var(--button-primary-background-hover-color) !important;
}

.react-datepicker__close-icon::after {
    background-color: var(--button-primary-background-color) !important;
}