:root {

  // Roundings
  --rounding-xl: 1rem; 
  --rounding-l: 0.75rem;
  --rounding-m: 0.625rem;
  --rounding-s: 0.5rem; 
  --rounding-xs: 0.25rem; 

  // Spacings
  --spacing-base: .5rem;
  --spacing-x2: 1rem;
  --spacing-x3: 1.5rem;
  --spacing-x4: 2rem;

  // Font size
  --font-size-h1: 1.1rem; 
  --font-size-h2: 1rem; 
  --font-size-h3: .95rem; 
  --font-size-default: .875rem;
  --font-size-default-small: .8rem;
  --font-size-default-very-small: .75rem;
}