:root {
    --toastify-color-success: var(--success);
    --toastify-color-error: var(--error);
    --toastify-color-warning: var(--warning);
    --toastify-color-info: var(--info);

    --toastify-font-family: var(--font-family-primary);

    --toastify-toast-width: auto;
    --toastify-toast-max-width: 15rem;
}