.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

.input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--default-element-border-color);
    border-radius: .3rem;
    transition: all 0.2s ease;
}

.checkbox:hover .checkmark {
    border-color: var(--gray-600);

}

.input:checked+.checkmark {
    background: #000000;
    border: 1px solid var(--black);
}

.input:checked+.checkmark::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}