.rControlActionPanelRoot {
    display: flex;
    justify-content: right;

    padding: 1.5rem;

    border-bottom: 1px solid var(--default-element-border-color);

    .generalMekSection {
        display: flex;
        gap: 1.5rem;
    }
}