.container {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 1.2rem;
    border: 1px solid var(--border-light);
    background-color: var(--bg-primary);

}

.table_container {
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    scrollbar-width: thin;
    scrollbar-color: var(--bg-selected-card-light) transparent;
}

.loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%;
    height: 100%;
}

.modal_table_container {
    flex: 1;
    overflow-y: auto;
    border-radius: 1rem;
    border: 1px solid var(--border-light);
    background-color: var(--table-head-color-light);

    scrollbar-width: thin;
    scrollbar-color: var(--bg-selected-card-light) transparent;
}


.modal_table,
.journal_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    table-layout: fixed;

}

.journa_table_head {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--table-head-color-light);
}

.tr,
.tr_body {
    border-bottom: 1px solid var(--border-light);
}

.tr_body:hover {
    background-color: var(--bg-app-light);

    padding: 1rem;
}

.trSelected {
    background-color: var(--bg-app-light);
    transition: ease .3s;
}


.clickable {
    background-color: var(--upload-meta-error-info-bg);

}

.clickable:hover {
    cursor: pointer;
}

.th,
.td {
    text-align: left;
    font-size: 0.9rem;
    padding: .6rem 1rem;
    border-bottom: 1px solid var(--border-light);
}

.th,
.thCenter {
    white-space: wrap;
    vertical-align: middle;

    font-weight: 500;
}

.thCenter,
.tdCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-primary);
    font-size: 0.9rem;

    border-bottom: 1px solid var(--border-light);
}

.modal_footer {
    width: 100%;
    margin: 1rem 0 0 0;
}

.button {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .8rem;
    padding: .5rem 2rem;
    text-wrap: nowrap;
    overflow: hidden;

    transition: 0.2s ease;
}

.button.active {
    background: var(--bg-app-light);
    border: 1px solid var(--border-light);
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.button.disabled {
    opacity: 0.4;
    border: none;
    cursor: not-allowed;
    background: rgb(150, 150, 150);
    color: white;
}

.button.active:hover {
    border-color: var(--text-secondary);
    background-color: rgb(235, 235, 235);
}

.button.active:active {
    transform: scale(0.99);
}

.footer_result_card {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--border-light);
    background-color: var(--table-head-color-light);
    width: 100%;
}

.summary_card {
    display: flex;
    gap: 1rem
}

.p {
    margin: 0;
    color: black;
}

.card_info_block_no_access,
.card_info_block_fail,
.card_info_block_rewrite,
.card_info_block_write {
    display: flex;
    border-radius: .7rem;
    padding: .5rem 1rem;
    gap: 1rem;

    text-wrap: nowrap;
}

.card_info_block_fail {
    background-color: var(--error-status-bg);
}

.card_info_block_rewrite {
    background-color: var(--rewriting-status-bg);
}

.card_info_block_write {
    background-color: var(--success-status-bg);
}

.card_info_block_no_access {
    background-color: var(--upload-meta-error-info-bg);
}

.label_fail {
    color: var(--journal-smo-error-status);
    font-weight: 600;
}

.label_rewrite {
    color: var(--journal-smo-rewriting-status);
    font-weight: 600;
}

.label_write {
    color: var(--journal-smo-success-status-bg);
    font-weight: 600;
}

.label_no_access {
    color: var(--upload-meta-error-info-text);
    font-weight: 600;
}

.contextMenu {
    position: fixed;
    background: white;
    border: 1px solid var(--border-light-menu-context);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 13rem;
    overflow: hidden;
    padding: .4rem;

    font-size: .9rem;
    font-weight: 500;
}

.contextMenu button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: .5rem .5rem;
    border: none;
    border-radius: .5rem;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 400;

    transition: 0.1s ease;
}

.contextMenu button:hover {
    background: var(--bg-hover);
}

.context_menu_header {
    padding: .5rem;
}