<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <rewrite>
      <rules>
        <!-- <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action
            type="Rewrite"
            url="http://192.168.1.120:8085/healthinvoice/api/{R:1}"
            appendQueryString="true" />
        </rule> -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(assets/.*|.*\.(css|js|png|jpg|svg|ico|json))$" />
          <action type="None" />
        </rule>
        <rule name="SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
