.app_header {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 8px 8px 0 8px;
    border: 1px solid var(--border-light);
    border-radius: 12px;

    background: var(--bg-primary);
    box-shadow: 0px 4px 16px rgb(0, 0, 0, 0.01);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
}

.logo {
    padding-left: 12px;
    display: flex;
    gap: 4px;
}

.logo_link {
    display: flex;
    align-items: center;
    text-decoration: none;

    color: black;
    font-size: 16px;
    font-weight: 500;

    text-wrap: nowrap;
}

.dropdown_menu_container {
    position: absolute;
    background: white;
    border: 1px solid var(--border-light);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;

    top: 100%;
    right: 0;
    margin-top: .5rem;

    z-index: 1000;
    min-width: 14rem;
    padding: .4rem;
    overflow: hidden;
}

.admin_sub_menu_container {
    position: absolute;
    background: white;
    border: 1px solid var(--border-light);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    z-index: 1001;
    right: 0;
    margin: 23.5rem 14rem 0 0;
    min-width: 13rem;
    padding: .4rem;
}

.container button {
    padding: 7px 7px;
    border-radius: 16px;
    border: 1px solid var(--border-light);
}

.admin_sub_menu_container ul,
.dropdown_menu_container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin_sub_menu_container a,
.dropdown_menu_container a {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-decoration: none;
    color: #242424;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: .9rem;
    border-radius: .8rem;
    box-sizing: border-box;

}

.admin_sub_menu_container button,
.dropdown_menu_container button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 8px 12px;
    text-decoration: none;
    color: #242424;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: .9rem;
    border-radius: .8rem;
    box-sizing: border-box;

    font-weight: 500;
}

.admin_sub_menu_container a:hover,
.admin_sub_menu_container button:hover,
.dropdown_menu_container a:hover,
.dropdown_menu_container button:hover {
    background-color: #f1f1f1;
}

.menu_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.focus_category {
    background-color: #f1f1f1 !important;
}