.container {
    display: flex;
    flex-direction: column;
    margin: 4px;
    height: 100vh;
    overflow: hidden;
}

.table_container {
    display: flex;
    flex: 1;
    overflow: auto;
    min-height: 0;

    scrollbar-width: thin;
    scrollbar-color: var(--bg-selected-card-light) transparent;
}

.table_container,
.invoice_info {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-light);
    border-radius: 10px;
}

.invoice_info {
    padding: 12px;
}

.table_container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    height: fit-content;
}

.table_container thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--table-head-color-light);
}

.table_container tr {
    border-bottom: 1px solid var(--border-light);
}

.table_container tbody tr:hover {
    background-color: var(--bg-app-light);
    padding: 1rem;
}

.table_container th {
    white-space: wrap;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;

    padding: 8px;
}

.table_container td {
    white-space: wrap;
    vertical-align: middle;
    font-size: 12px;

    padding: 4px 8px;
}