.FinishedCasesTableRoot {
    position: relative;

    display: flex;
    flex-direction: column;

    scrollbar-width: thin;
    scrollbar-color: var(--default-element-border-color) transparent;

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        thead {
            th {

                background-color: var(--card-background-color);
                font-weight: 500;
            }
        }

        tbody {

            tr {
                cursor: pointer;
            }

            tr:hover {
                background-color: var(--gray-50);
                transition: 0.2s ease;
            }


            .loaderRow:hover {
                background-color: transparent !important;
                cursor: default !important;
            }

            .emptyDataRow:hover {
                background-color: var(--gray-50) !important;
                cursor: default !important;
            }

            .emptyDataRow {
                text-align: center;
                background-color: var(--gray-50);

                span {
                    font-size: var(--font-size-small-default);
                    color: var(--gray-500);
                }
            }

            .activeRow {
                background-color: var(--gray-100);
            }

        }

        .tdCenter,
        .thCenter {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}