.container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 12rem;
    width: 100%;
    border: 2px dashed var(--default-element-border-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--table-head-color-light);
}

.dropZone:hover {
    border: 2px dashed var(--text-primary);
    background: rgb(245, 245, 245);
}

.dropZone.dragging {
    border-color: var(--journal-smo-success-status-bg);
    background: rgba(29, 255, 142, 0.1);
}

.dropZone.loading {
    cursor: not-allowed;
    opacity: 0.7;
}

.defaultText {
    color: var(--text-secondary);
    font-size: 1rem;

    text-wrap: nowrap;
    overflow: hidden;
}

.dragText {
    color: var(--journal-smo-success-status-bg);
    font-size: 1rem;
    font-weight: 500;
}