.separator {
    width: 100%;
}

.xs {
    margin: .25rem 0;
}

.sm {
    margin: .5rem 0;
}

.md {
    margin: .75rem 0;
}

.lg {
    margin: 1rem 0;
}

.vlg {
    margin: 1.25rem 0;
}

.space {
    border: none;
}

.line {
    border-top: 1px solid;
}