.button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: .6rem .8rem;
    font-size: var(--font-size-default-very-small);
    font-weight: 600;
    border-radius: var(--rounding-l);

    &:active {
        transform: scale(0.95);
    }

    span,
    svg {
        transition: none;
    }

}

.primary {
    border: none;
    background-color: var(--button-primary-background-color);
    color: var(--white);

    transition: 0.2s ease;
}

.primary:hover {
    background-color: var(--button-primary-background-hover-color);
}

.fullWidth {
    width: 100%;
}