.button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-default-very-small);
    font-weight: 600;

    &:active {
        transform: scale(0.93);
    }

    span,
    svg {
        transition: none;
    }

}

.primary {
    padding: .6rem .8rem;

    border: none;
    border-radius: var(--rounding-l);
    background-color: var(--button-primary-background-color);
    color: var(--white);

    transition: 0.3s ease;
}

.primary:hover {
    background-color: var(--button-primary-background-hover-color);
}

.secondary {
    padding: .5rem;

    border: 1px solid var(--default-element-border-color);
    border-radius: var(--rounding-m);
    background: none;

    transition: 0.3s ease;
}

.secondary:hover {
    background-color: var(--button-secondary-background-hover-color);
}

.fullWidth {
    width: 100%;
}