.smoCardRoot {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 100%;
    border-radius: var(--rounding-l);
    border: 1px solid var(--default-element-border-color);
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--gray-150) transparent;

}

.section {
    padding: var(--spacing-x3);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}