.rControlFiltersPanelRoot {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-shrink: 0;
    padding: 1.5rem;
    gap: 2rem;

    border-bottom: 1px solid var(--default-element-border-color);
}

.toggle {
    display: flex;
    align-items: center;

    gap: 1rem;

    p {
        font-weight: 500;
    }

}

.selects {
    display: flex;
    gap: 1rem;
}