.homeRoot {

    display: flex;
    flex-direction: column;

    padding: var(--spacing-x4);
    margin: 5rem auto;
    max-width: 45rem;

    border-radius: var(--rounding-xl);
    border: 1px solid var(--default-element-background-color);
    background: var(--default-element-background-color);

    box-shadow: 0 1rem 4rem rgb(0, 0, 0, 0.05);
}