.zipDroppedRoot {
    display: flex;
    justify-content: center;

    margin: 0 1rem;

    box-shadow: 0 .5rem 2rem rgb(0, 0, 0, 0.05);
}

.dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    min-height: 12rem;
    width: 100%;

    border-radius: var(--rounding-l);
    background-color: var(--card-background-color);
    border: 2px dashed var(--default-element-border-color);


    transition: all 0.2s ease;
    cursor: pointer;
}

.dropZone:hover {
    border: 2px dashed var(--gray-400);
}

.dropZone.dragging {
    border-color: var(--success);
    background: rgba(29, 255, 142, 0.1);
}

.dropZone.loading {
    cursor: not-allowed;
    opacity: 0.7;
}

.defaultText {
    color: var(--gray-400);
    font-size: var(--font-size-default);

    text-wrap: nowrap;
    overflow: hidden;
}

.dragText {
    color: var(--success);
    font-size: var(--font-size-default);
    font-weight: 500;
}