.separator {
    flex-shrink: 0;
    box-sizing: border-box;
}

.orientation-horizontal {
    width: 100%;
}

.orientation-horizontal.separator-line,
.orientation-horizontal.separator-gradient {
    height: 1px;
}

.orientation-horizontal.separator-space {
    height: 0;
}

.orientation-vertical {
    height: 2rem;
    align-self: center;
}

.orientation-vertical.separator-line,
.orientation-vertical.separator-gradient {
    width: 1px;
}

.orientation-vertical.separator-space {
    width: 0;
}

.orientation-horizontal.size-xs {
    margin: var(--space-xs) 0;
}

.orientation-horizontal.size-sm {
    margin: var(--space-sm) 0;
}

.orientation-horizontal.size-md {
    margin: var(--space-md) 0;
}

.orientation-horizontal.size-lg {
    margin: var(--space-lg) 0;
}

.orientation-horizontal.size-xl {
    margin: var(--space-xl) 0;
}

.orientation-vertical.size-xs {
    margin: 0 var(--space-xs);
}

.orientation-vertical.size-sm {
    margin: 0 var(--space-sm);
}

.orientation-vertical.size-md {
    margin: 0 var(--space-md);
}

.orientation-vertical.size-lg {
    margin: 0 var(--space-lg);
}

.orientation-vertical.size-xl {
    margin: 0 var(--space-xl);
}