.separator {
    width: 1px;
    background-color: currentColor;
}

.xs {
    margin: 0 0.25rem;
}

.sm {
    margin: 0 0.5rem;
}

.md {
    margin: 0 0.75rem;
}

.lg {
    margin: 0 1rem;
}

.vlg {
    margin: 0 1.25rem;
}

.space {
    background-color: transparent; 
}

.line {
    background-color: currentColor;
}