.container {
    display: flex;
    justify-content: space-between;

    margin: 0 0 .5rem 0;
    padding: .5rem 0;

    border: 1px solid var(--border-light);
    border-radius: 1rem;
    background-color: var(--bg-primary);
}

.container_info {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1.5rem;
}

.container_action {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: .5rem;
}

.p {
    color: black;
    font-weight: 600;
    margin: 0;
    font-size: .9rem;
    white-space: nowrap;
}

.container_action {
    gap: 1rem
}

.button_icon_only,
.button_with_text_and_icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border-light);
    border-radius: 14px;
    background-color: var(--bg-button-light);
}

.button_icon_only {
    padding: 8px 10px;
}

.button_with_text_and_icon {
    gap: 10px;

    padding: 6px 16px;

    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}


.button_with_text_and_icon:hover,
.button_icon_only:hover {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(192, 192, 192);

    transition: ease 0.2s;
}

.button_with_text_and_icon:active,
.button_icon_only:active {
    transform: scale(0.98);
}

.smorx {
    margin: 0 1rem;
    padding: .6rem;

    font-weight: 1000;
    border-radius: .5rem;
    background: rgba(24, 105, 255, 0.097);
    color: rgb(24, 105, 255);

    white-space: nowrap;
}

.inogorod {
    margin: 0 1rem;
    padding: .6rem;

    font-weight: 1000;
    border-radius: .5rem;
    background: rgba(30, 202, 0, 0.097);
    color: rgb(30, 202, 0);

    white-space: nowrap;
}

.non_active {
    cursor: not-allowed;
}