:root {
  --bg-app-light: rgb(242, 242, 242);
  --text-general-app-light: rgb(0, 0, 0);
  --bg-hover: rgb(238, 238, 238);
  --bg-active: rgb(238, 238, 238);

  --bg-primary: rgb(250, 250, 250);
  --bg-secondary: rgb(16, 16, 16);
  --bg-third: rgb(80, 80, 80);
  --bg-card: rgb(24, 24, 24);

  --bg-header-default: rgb(16, 16, 16);
  --bg-header-journal-oms: rgb(0, 0, 0);
  --bg-header-journal-inogorod: rgb(0, 0, 0);

  --bg-input-button: rgb(32, 32, 32);
  --bg-input-button-hover: rgb(46, 46, 46);

  --bg-selected-card-light: rgb(225, 225, 225);
  --border-selected-card-light: rgb(214, 214, 214);

  --healthinvoice-success: rgb(0, 119, 255);
  --healthinvoice-error: rgb(255, 28, 28);
  --healthinvoice-error-hover: rgb(255, 69, 69);
  --healthinvoice-inforamtion: rgb(49, 162, 255);

  --table-head-color-light: rgb(250, 250, 250);

  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgb(153, 153, 153);
  --text-p-secondary: rgb(37, 37, 37);
  --text-light: rgb(255, 255, 255);

  --border-light: rgb(230, 230, 230);
  --border-light-menu-context: rgb(224, 224, 224);
  --border-darkness-light: rgb(210, 210, 210);
  --border-dark: rgb(64, 64, 64);

  --inter: 'Inter', system-ui, -apple-system, sans-serif;

  --space-unit: 0.5rem;
  --space-xs: calc(var(--space-unit) * 1);
  --space-sm: calc(var(--space-unit) * 2);
  --space-md: calc(var(--space-unit) * 3);
  --space-lg: calc(var(--space-unit) * 4);
  --space-xl: calc(var(--space-unit) * 6);

  --journal-smo-main-color: rgb(120, 197, 214);
  --journal-smo-status-text: rgb(255, 255, 255);
  --journal-inogorod-success-status-text: rgb(255, 255, 255);


  --journal-smo-success-status-bg: #20A05E;
  --success-status-bg: #daffec;

  --journal-smo-error-status: #ED4747;
  --journal-smo-format-error-status: #ED4747;
  --journal-smo-meta-error-status: #ed7647;

  --meta-error-status-bg: #fff1eb;
  --error-status-bg: #ffebeb;

  --journal-smo-rewriting-status: #e2cc00;
  --rewriting-status-bg: #fffcdd;

  --journal-smo-waiting-status: #919191;
  --journal-smo-processing-status: #2f89ff;

  --journal-lk-fatal-error-bg: #252525;

  --upload-meta-error-status-bg: rgb(100, 100, 100);
  --upload-meta-error-info-text: rgb(100, 100, 100);
  --upload-meta-error-info-bg: rgb(230, 230, 230);

  --bg-button-light: rgb(241, 241, 241);

  --error-border: rgb(255, 173, 173);
  --eror-bg: rgb(255, 233, 233);







  --app-background: #f3f3f3;

  --app-black: #242424;
  --app-white: #f7f7f7;
  --app-border-light: #ebebeb;

  --input-focus-background: #efefef;

  --text-secondary: #b0b0b0;


  font: 14px/150% var(--inter);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: var(--bg-app-light);
  color: var(--text-primary);
}

.toast-container {
  max-width: 50rem !important;
  width: auto !important;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow: hidden;
  min-height: 0;
  margin: .5rem;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-app-light) !important;
}