.rControlGeneralFieldRoot {
    display: flex;
    flex-direction: column;

    padding: var(--spacing-x2);
    gap: 2.5rem;


    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--default-element-border-color) transparent;

    border-bottom: 1px solid var(--default-element-border-color);

}