.journalTableRoot {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;

    p {
        font-weight: 500;
    }
}

.pagination,
.recordCount {
    padding: 1.75rem 1.5rem;
    flex-shrink: 0;
}

.tableContainer {
    flex: 1;
    min-height: 0;
    overflow: auto;

    margin: 0 1.5rem;
    border: 1px solid var(--default-element-border-color);
    border-radius: var(--rounding-s);

    scrollbar-width: thin;
    scrollbar-color: var(--default-element-border-color) transparent;
}

.tableContainer table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.tableContainer th {
    background-color: var(--card-background-color);
}

.journa_table_head {
    position: sticky;
    top: 0;
    background-color: var(--bg-primary);
    z-index: 1;
}

.tdCenter,
.thCenter {
    display: flex;
    justify-content: center;
    text-align: center;
}